@charset "UTF-8";

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(2.5px);
    }
    100% {
        -webkit-transform: translateY(-2.5px);
    }
}

@-moz-keyframes bounce {
    0% {
        -moz-transform: translateY(2.5px);
    }
    100% {
        -moz-transform: translateY(-2.5px);
    }
}

@-ms-keyframes bounce {
    0% {
        -ms-transform: translateY(2.5px);
    }
    100% {
        -ms-transform: translateY(-2.5px);
    }
}

@-o-keyframes bounce {
    0% {
        -o-transform: translateY(2.5px);
    }
    100% {
        -o-transform: translateY(-2.5px);
    }
}


/* loading spinners */

@-webkit-keyframes spinner-1 {
    from {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes spinner-1 {
    from {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px)
    }
    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@-webkit-keyframes spinner-2 {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(0.7, 1.8);
        transform: scale(0.7, 1.8)
    }
}

@keyframes spinner-2 {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(0.7, 1.8);
        transform: scale(0.7, 1.8)
    }
}


/* code for animated blinking cursor */
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




@-webkit-keyframes loader-in {
    from {
        -webkit-transform: rotate(0deg) translateY(-100vh);
        transform: rotate(0deg) translateY(-100vh);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%
    }
    to {
        -webkit-transform: rotate(0deg) translateY(0%);
        transform: rotate(0deg) translateY(0%);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%
    }
}

@keyframes loader-in {
    from {
        -webkit-transform: rotate(0deg) translateY(-100vh);
        transform: rotate(0deg) translateY(-100vh);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%
    }
    to {
        -webkit-transform: rotate(0deg) translateY(0%);
        transform: rotate(0deg) translateY(0%);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%
    }
}

@-webkit-keyframes loader-out {
    from {
        -webkit-transform: rotate(-2.5deg) translateY(0%);
        transform: rotate(-2.5deg) translateY(0%);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
    to {
        -webkit-transform: rotate(0deg) translateY(100%);
        transform: rotate(0deg) translateY(100%);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
}

@keyframes loader-out {
    from {
        -webkit-transform: rotate(-2.5deg) translateY(0%);
        transform: rotate(-2.5deg) translateY(0%);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
    to {
        -webkit-transform: rotate(0deg) translateY(100%);
        transform: rotate(0deg) translateY(100%);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%
    }
}