@media (min-width: 768px) {


    .animate-h.side-right {
        -webkit-transform: translateX(25px);
        transform: translateX(25px);
    }
    .animate-y.appeared,
    .animate-h.appeared,
    .animate-fade.appeared {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }



    .headerContainer {
        padding: 0 45px;
        height: 80px;
    }
    .navLogo {
        width: 50px;
        height: 50px;
    }


    .contentWrapper {}
    .viewWrapper {
        padding-top: 80px;
    }


    .year .yearTitle {
        text-align: center;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .yearDetails {
        padding-left: 30px;
        padding-right: 30px;
    }
    .yearDetails:before {
        right: auto;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
    }
    .yearDetails > .position {
        width: 50%;
        float: left;
        clear: left;
        display: inline-block;
    }

    .yearDetails > .position > div {
        float: right;
        clear: right;
    }
    .yearDetails > .position.side-left {}
    .yearDetails > .position.side-right {
        float: right;
        clear: right;
    }
    .yearDetails > .position.side-right > div {
        margin-right: 0;
        margin-left: 15px;
        float: left;
        clear: left;
        border-radius: 0 2.5px 2.5px 2.5px;
        -webkit-border-radius: 0 2.5px 2.5px 2.5px;
    }

    .yearDetails > .position.side-right:after {
        top: 7.5px;
        right: auto;
        left: 0;
        background-image: url(../img/bg/positionArrow-right.svg);
    }
    .yearDetails > .position.push {
        margin-top: 22.5px;
    }


    .bio .bioContent .cv {
        width: 60%;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@media (min-width: 992px) {

    .flex-box {
        display: -webkit-flex;
        display: flex;
        -ms-box-orient: horizontal;
        flex-direction: row;
    }


    .headerContainer {
        padding: 0 80px;
    }


    .sections > .section .wide {
        position: relative;
    }

    .sections.aboutContent > .section:nth-child(even),
    .sections.projects > .section:nth-child(odd) {
        flex-direction: row;
    }
    .sections.aboutContent > .section:nth-child(odd),
    .sections.projects > .section:nth-child(even) {
        flex-direction: row-reverse;
    }
    .sections.aboutContent > .section .wide {
        padding: 0 15px;
    }
    .sections.aboutContent > .section .wide > div {
        margin-left: -15px;
    }
    .sections.aboutContent > .section:nth-child(even) .wide > div {
        margin-left: initial;
        margin-right: -15px;
    }
    .sections.aboutContent > .section .wide > div,
    .sections.projects > .section .tight > div {
        border-radius: 2.5px 0 0 2.5px;
        -webkit-border-radius: 2.5px 0 0 2.5px;
    }
    .sections.aboutContent > .section:nth-child(odd) .wide > div,
    .sections.projects > .section:nth-child(even) .tight > div {
        border-radius: 0 2.5px 2.5px 0;
        -webkit-border-radius: 0 2.5px 2.5px 0;
    }

    .bio {
        flex-direction: row;
    }
    .bio .bioImg {
        height: initial;
    }
    .bio .bioImg {
        order: initial;
    }
    .bio .bioContent {
        order: initial;
    }


    .sections.projects > .section .tight > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 15px;
        overflow: auto;
    }
    .sections.projects > .section:nth-child(even) .tight > div {
        right: 15px;
        left: 0;
    }

    .yearDetails {
        padding-left: 120px;
        padding-right: 120px;
    }

}


/***** animate *****/
.loading-noAni .loader.theme-about:before, .loading-default .loader.theme-about:before {
    -webkit-animation: loader-in 0.2s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: loader-in 0.2s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: none !important
}

.loader.ng-animate:before {
    -webkit-animation: loader-out 0.4s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: loader-out 0.4s 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
}