/*************************************************************/
/***** SF UI Display ************************/
/*************************************************************/

@font-face {
  font-family: 'SF UI Display Bold';
  src: url('SF/SF-UI-Display-Bold/SF-UI-Display-Bold.eot'); /* IE9 Compat Modes */
  src: url('SF/SF-UI-Display-Bold/SF-UI-Display-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SF/SF-UI-Display-Bold/SF-UI-Display-Bold.woff') format('woff'), /* Modern Browsers */
       url('SF/SF-UI-Display-Bold/SF-UI-Display-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SF/SF-UI-Display-Bold/SF-UI-Display-Bold.svg#c20550008ec581b18034198aedd4ef80') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'SF UI Display Light';
  src: url('SF/SF-UI-Display-Light/SF-UI-Display-Light.eot'); /* IE9 Compat Modes */
  src: url('SF/SF-UI-Display-Light/SF-UI-Display-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SF/SF-UI-Display-Light/SF-UI-Display-Light.woff') format('woff'), /* Modern Browsers */
       url('SF/SF-UI-Display-Light/SF-UI-Display-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SF/SF-UI-Display-Light/SF-UI-Display-Light.svg#992f7f964919ca564457458f3b04ba35') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}
@font-face {
  font-family: 'SF UI Display Regular';
  src: url('SF/SF-UI-Display-Regular/SF-UI-Display-Regular.eot'); /* IE9 Compat Modes */
  src: url('SF/SF-UI-Display-Regular/SF-UI-Display-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SF/SF-UI-Display-Regular/SF-UI-Display-Regular.woff') format('woff'), /* Modern Browsers */
       url('SF/SF-UI-Display-Regular/SF-UI-Display-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SF/SF-UI-Display-Regular/SF-UI-Display-Regular.svg#5342a8609bcd812e22b7e0403a5ccc30') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'SF UI Display Thin';
  src: url('SF/SF-UI-Display-Thin/SF-UI-Display-Thin.eot'); /* IE9 Compat Modes */
  src: url('SF/SF-UI-Display-Thin/SF-UI-Display-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SF/SF-UI-Display-Thin/SF-UI-Display-Thin.woff') format('woff'), /* Modern Browsers */
       url('SF/SF-UI-Display-Thin/SF-UI-Display-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SF/SF-UI-Display-Thin/SF-UI-Display-Thin.svg#9cbc0a271b522634852b696027a32a9b') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}
/*************************************************************/
/***** museo sans ************************/
/*************************************************************/


/* Normal */

@font-face {
    font-family: 'MuseoSans';
    src: url('museosans/museosans_300-webfont.eot');
    src: url('museosans/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_300-webfont.woff') format('woff'),
    url('museosans/museosans_300-webfont.ttf') format('truetype'),
    url('museosans/museosans_300-webfont.svg#MuseoSans300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('museosans/museosans_300_italic-webfont.eot');
    src: url('museosans/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_300_italic-webfont.woff') format('woff'),
    url('museosans/museosans_300_italic-webfont.ttf') format('truetype'),
    url('museosans/museosans_300_italic-webfont.svg#MuseoSans100Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('museosans/museosans_500-webfont-webfont.eot');
    src: url('museosans/museosans_500-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_500-webfont-webfont.woff') format('woff'),
    url('museosans/museosans_500-webfont-webfont.ttf') format('truetype'),
    url('museosans/museosans_500-webfont-webfont.svg#museo_sans500') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Thin */

@font-face {
    font-family: 'MuseoSans_Thin';
    src: url('museosans/museosans_100-webfont.eot');
    src: url('museosans/museosans_100-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_100-webfont.woff') format('woff'),
    url('museosans/museosans_100-webfont.ttf') format('truetype'),
    url('museosans/museosans_100-webfont.svg#MuseoSans100') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'MuseoSans_Fat';
    src: url('museosans/museosans_700-webfont.eot');
    src: url('museosans/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_700-webfont.woff') format('woff'),
    url('museosans/museosans_700-webfont.ttf') format('truetype'),
    url('museosans/museosans_700-webfont.svg#MuseoSans700Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Extra-Bold */

@font-face {
    font-family: 'MuseoSans_xFat';
    src: url('museosans/museosans_900-webfont.eot');
    src: url('museosans/museosans_900-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_900-webfont.woff') format('woff'),
    url('museosans/museosans_900-webfont.ttf') format('truetype'),
    url('museosans/museosans_900-webfont.svg#MuseoSans900') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans_xFat';
    src: url('museosans/museosans_900_italic-webfont.eot');
    src: url('museosans/museosans_900_italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museosans_900_italic-webfont.woff') format('woff'),
    url('museosans/museosans_900_italic-webfont.ttf') format('truetype'),
    url('museosans/museosans_900_italic-webfont.svg#MuseoSans900_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Regular */

@font-face {
    font-family: 'museo_300regular';
    src: url('museosans/museo300-regular-webfont.eot');
    src: url('museosans/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museo300-regular-webfont.woff') format('woff'),
    url('museosans/museo300-regular-webfont.ttf') format('truetype'),
    url('museosans/museo300-regular-webfont.svg#museo_300regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_500regular';
    src: url('museosans/museo500-regular-webfont.eot');
    src: url('museosans/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museo500-regular-webfont.woff') format('woff'),
    url('museosans/museo500-regular-webfont.ttf') format('truetype'),
    url('museosans/museo500-regular-webfont.svg#museo_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_700regular';
    src: url('museosans/museo700-regular-webfont.eot');
    src: url('museosans/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('museosans/museo700-regular-webfont.woff') format('woff'),
    url('museosans/museo700-regular-webfont.ttf') format('truetype'),
    url('museosans/museo700-regular-webfont.svg#museo_700regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
