<div class="aboutWrapper viewWrapper">
    <div class="intro">
        <div class="introInner">
            <p class="heading">Big clients, challanges and achievements</p>
            <div class="introRoles">
                <h1>Each project is demonstrated through my contribution in ..</h1>

            </div>
        </div>
        <div class="scrollerConatiner">
            <a class="scroller" ng-if="scroller" ng-click="slideDown()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
    </div>
    <canvas class="circles"></canvas>

</div>