<div class="aboutWrapper viewWrapper">
    <div class="intro">
        <div class="introInner">
            <div>My name is</div>
            <h1 class="heading">Ahmed Abdelhady</h1>
            <div>I am a</div>
            <h2 class="roles">
                <typed-dir strings="professions"></typed-dir>
            </h2>
            <div>Well known online under Karakeeb.me</div>
        </div>
        <div class="scrollerConatiner">
            <a class="scroller" ng-if="scroller" ng-click="slideDown()"><i class="fa fa-angle-down"
                                                                           aria-hidden="true"></i></a>
        </div>

        <canvas class="circles"></canvas>
    </div>

    <div class="scrollingTarget sections aboutContent">
        <div class="bio flex-box section animate-y">
            <div class="col col-md-7 wide bioContent">
                <div>
                    <!--<h2>A little bit about me .. </h2>-->
                    <p>
                        Sitting somewhere between the conceptual and practical, my focus is on the pervasive Internet
                        and emerging technology. I’ve worked for the largest companies in the world, the smallest
                        startups, and everything in between: helping them develop products, services and communications
                        that combine networked software with the physical world in ways that make sense.
                    </p>
                    <p>
                        I have a unique business sense out of my major academic studies, combined with a natural talent
                        and full crowded 9+ years of hands-on commercial experience.
                    </p>
                    <!--<p>
                        Specialties: Experience strategy (UX), Interaction Design (IxD), Service Design, Information Architecture (IA), Visual design direction, Front-End Development direction and Mobile, Social and Semantic Web.
                    </p>-->
                    <a class="cv"><i class="fa fa-download" aria-hidden="true"></i><span>Download Resume</span></a>
                </div>
            </div>
            <div class="col col-md-5 tight bioImg">
                <img ng-src="./img/bio.png"/>
            </div>
        </div>

        <!--<div class="expertise flex-box section animateEle">
            <div class="col col-md-7 wide">
                <div>
                    <h2>Skills</h2>
                    &lt;!&ndash;<ul>
                        <li>
                            Utilizing User-Centred Design (UCD) principles and accessibility compliance.
                        </li>
                        <li>Translating the business requirements and user needs into a consistent and positive
                            User Experience by conducting Research Interviews with Stakeholders and Target
                            Audiences.
                        </li>
                        <li>Illustrating positive User/Customer Experience (UX/CX) through delivering User
                            Journeys, Personas, Sketches, Mockups, high and low fidelity Wireframes and
                            Sitemaps.
                        </li>
                        <li>Validating outputs using: Card Sorting, User Researches, In-Person Usability
                            Testing and other methods.
                        </li>
                        <li>Developing Information Architecture (IA) and basic taxonomies.</li>
                        <li>Creating detailed, annotated Interaction Design (IxD) schematics for internal team
                            members and clients.
                        </li>
                        <li>Single-Page Application (SPA) Development and Interaction processes leading.</li>
                        <li>Constructing interactive, clear, usable, and pixel-perfect web-based prototypes using
                            HTML[5], CSS[3] and JavaScript, with Search Engine Optimization (SEO) principles
                            in mind.
                        </li>
                        <li>Performing heuristic evaluations of websites and mobile applications.</li>
                        <li>Delivering Cross-Browser/Platform compatible websites and web-based applications.</li>
                        <li>Accommodating Responsive design approaches across a wide range of devices.
                        </li>
                    </ul>&ndash;&gt;
                </div>
            </div>
            <div class="col col-md-5 tight">
                <h2>tools</h2>
            </div>
        </div>-->
    </div>
    <div class="historyContainer">
        <div class="history">
            <!--<particles-dir id="portfolioParticles" class="particlesCanvas"></particles-dir>-->
            <div class="timeline">
                <div class="year" ng-repeat="year in timeline">
                    <div class="yearTitle animate-fade">
                        <div>{{year.title}}</div>
                    </div>
                    <div class="yearDetails clearfix">
                        <div ng-repeat="position in year.positions"
                             class="position side-{{position.alignment}} animate-h"
                             ng-class="{'push': position.push}">
                            <div>
                                <div class="positionHead">
                                    <div>
                                        <div class="logo">
                                            <img ng-src="{{position.data.logo}}" />
                                        </div>
                                    </div>
                                    <div class="header">
                                        <div>{{position.data.name}}</div>
                                        <div>{{position.data.location}}</div>
                                        <div>{{position.data.start}} - {{position.data.end}}</div>
                                    </div>
                                </div>
                                <div class="positionBody">
                                    <div>{{position.data.profession}} {{position.data.role}}</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="year">
                    <div class="yearTitle animate-fade">
                        <div>
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>