<div class="aboutWrapper viewWrapper">
    <div class="intro">
        <div class="introInner">
            <p class="heading">Ahmed Abdelhady</p>
            <div class="introRoles">
                <typed-dir strings="professions"></typed-dir>
                <h1>Well known online under Karakeeb.me</h1>

            </div>
        </div>
        <div class="scrollerConatiner">
            <a class="scroller" ng-if="scroller" ng-click="slideDown()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>

        <canvas class="circles"></canvas>
    </div>

    <div class="scrollingTarget">
        <div class="bio">
            <div class="col col-md-5 bioImg">
                <img ng-src="./img/bio.png" />
            </div>
            <div class="col col-md-7 bioContent">
                <h2>A little bit about me .. </h2>
                <p>
                    Sitting somewhere between the conceptual and practical, my focus is on the pervasive Internet and emerging technology. I’ve worked for the largest companies in the world, the smallest startups, and everything in between: helping them develop products, services and communications that combine networked software with the physical world in ways that make sense.
                </p>
                <p>
                    I have my own unique business sense out of my major academic studies, combined with a natural talent and full crowded 9+ years of hands-on commercial experience.
                </p>
                <p>
                    Specialties: Experience strategy (UX), Interaction Design (IxD), Service Design, Information Architecture (IA), Visual design direction, Front-End Development direction and Mobile, Social and Semantic Web.
                </p>
            </div>
        </div>
    </div>

</div>