<div class="portfolioWrapper">
    <div class="portfolioIntro">
        Intro about my work expeirence and development envirenoments
    </div>

    <div>
        <projects-dir data="projects"></projects-dir>


        <ul class="projects">
            <li ng-repeat="project in projects" class="project flexHorizontal row" ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="col col-md-5 introContainer">
                    <div>
                        <div>
                            <h2>{{project.title}}</h2>
                        </div>
                        <div>
                            <label>Client:</label> {{project.client}}
                        </div>
                        <div>
                            <label>Year:</label> {{project.year}}
                        </div>
                        <div>
                            <label>Output:</label> {{project.output.join(', ')}}
                        </div>
                        <div class="rolesContainer">
                            <tabs-dir data="project.roles"></tabs-dir>
                        </div>
                    </div>
                </div>

                <div class="col col-md-7 sliderContainer">
                        <slider-dir data="project.slides"></slider-dir>
                </div>
            </li>
        </ul>
    </div>

</div>