<div class="portfolioWrapper">
    <div class="portfolioIntro">
        Intro about my work expeirence and development envirenoments
        <div class="introRoles">
            <h1>My roles per each project below are demonstrated by my contribution in:</h1>
            <ul class="introTabs">
                <li class="ux">
                    <div>
                        <i class="fa fa-low-vision"></i>
                    </div>
                    <label>User Experience</label>
                </li>
                <li class="ui">
                    <div>
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <label>User Interface</label>
                </li>
                <li class="fe">
                    <div>
                        <i class="fa fa-hashtag"></i>
                    </div>
                    <label>Front-End Dev.</label>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <projects-dir data="projects"></projects-dir>


        <ul class="projects">
            <li ng-repeat="project in projects" class="project flexHorizontal row" ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="col col-md-5 introContainer">
                    <div>
                        <div>
                            <h2>{{project.title}}</h2>
                        </div>
                        <div>
                            <label>Client:</label> {{project.client}}
                        </div>
                        <div>
                            <label>Year:</label> {{project.year}}
                        </div>
                        <div>
                            <label>Output:</label> {{project.output.join(', ')}}
                        </div>
                        <div class="rolesContainer">
                            <tabs-dir data="project.roles"></tabs-dir>
                        </div>
                    </div>
                </div>

                <div class="col col-md-7 sliderContainer">
                        <slider-dir data="project.slides"></slider-dir>
                </div>
            </li>
        </ul>
    </div>

</div>