<div class="portfolioWrapper viewWrapper">
    <div class="intro fadeEle">
        <p class="heading">Intro about my work expeirence and development envirenoments</p>
        <div class="introRoles">
            <h1>My responsibilities per each project below are demonstrated by my contribution in:</h1>
            <ul class="introTabs">
                <li class="ux">
                    <div>
                        <i class="fa fa-low-vision"></i>
                    </div>
                    <label>User Experience</label>
                </li>
                <li class="ui">
                    <div>
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <label>User Interface</label>
                </li>
                <li class="fe">
                    <div>
                        <i class="fa fa-hashtag"></i>
                    </div>
                    <label>Front-End Dev.</label>
                </li>
            </ul>
        </div>
        <div class="scrollerConatiner">
            <a class="scroller" ng-if="scroller" ng-click="slideDown()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
    </div>

        <projects-dir data="projects" class="projectsWrapper"></projects-dir>

    <p class="heading aboveFooter animateEle">More projects and work samples are available upon request</p>

</div>