<div class="portfolioWrapper viewWrapper">
    <div class="intro inner-pink">
        <!--<particles-dir id="particles" class="particlesCanvas"></particles-dir>-->
            <div class="introInner">
                <h1 class="heading">Big clients, challanges and achievements</h1>
                <div class="introRoles">
                    <h2>Each project is demonstrated through my contribution in ..</h2>
                    <ul class="introTabs">
                        <li class="ux">
                            <div>
                                <i class="fa fa-low-vision"></i>
                            </div>
                            <label>User Experience</label>
                        </li>
                        <li class="ui">
                            <div>
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <label>User Interface</label>
                        </li>
                        <li class="fe">
                            <div>
                                <i class="fa fa-code"></i>
                            </div>
                            <label>Front-End Dev.</label>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="scrollerConatiner">
            <a class="scroller" ng-if="scroller" ng-click="slideDown()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="scrollingTarget inner-teal">

        <h1 class="heading">Selected work</h1>
        <projects-dir data="projects" class="projectsWrapper"></projects-dir>
        <div class="heading aboveFooter animate-y">
            <p>Your project might be next</p>
            <p>More projects and work samples are available upon request</p>
        </div>
    </div>
</div>